// Import all partials
@require './_*.styl'


header.top
  text-align center
  h1
    font-size 14.4rem
    line-height 0.7 // this font has a wacky baseline
    display flex
    justify-content: center;
  h3
    margin 0
    font-size 2rem
    color orange
    position relative
    display inline-block
    span
      background white
      position relative
      z-index 2
      padding-left 1rem
      padding-right 1rem
    &:before, &:after
      display block
      z-index 1
      background black
      position absolute
      width 130%
      height 1px
      content ''
      top 5px
      margin-left -15%
    &:after
      top auto
      bottom 7px

.playlist-title
  .playlist-title-input
    display none
    appearance none
    text-align center
    font-size 3rem
    background transparent
    border none
    margin 1.5rem auto 2rem
    outline none
  .playlist-title-heading sup
    font-size .5em
    font-style italic
    position relative
    left 5px
    top -13px
    visibility hidden
  .playlist-title-heading:hover sup
    visibility visible
  &.editing
    background yellow
    .playlist-title-input
      display block
    .playlist-title-heading
      display none

.track-list
  max-width 600px;
  margin 0 auto
  padding 30px
  background #eee
  .track
    background #fff
    border 1px solid #dfdfdf
    padding 10px 15px 15px
    position relative
    h3
      font-size 1em
      margin-bottom .15em
    h4
      font-size .65em
      font-weight bold
      text-transform uppercase
      margin-bottom 0
    &:hover
      .remove-track
        display block
    .remove-track
      display none
      position absolute
      right 15px
      top 50%
      transform translateY(-50%)
      padding 15px
      cursor pointer
      &:before
        content ""
        display block
        width 15px
        height 2px
        position absolute
        top 50%
        right 50%
        transform translateX(50%) rotate(45deg)
        background black
      &:after
        content ""
        display block
        width 15px
        height 2px
        position absolute
        top 50%
        right 50%
        transform translateX(50%) rotate(-45deg)
        background black
.addTrackForm
  max-width 600px;
  margin 0 auto
  font-size .75em
  input[type="text"]
    width 50%
    height 40px
    line-height 40px
    border 2px solid #555
    padding 0 10px
    &:first-child
      border-right none
  button
    width 100%
    height 35px
    line-height 35px
    font-weight bold
    text-transform uppercase
    background #555
    border none
    color #fff
    padding 0 10px
